body {
    text-align: center;
    background-color: black;
    color: white;
}
footer {
    background-color: darkorange;
    margin: 5px;
    margin-top: 50px;
    padding: 2px;
    border-radius: 15px;
}
header {
    background-color: darkorange;
    margin: 5px;
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 15px;
}
.projekty {
    display: table;
}
.projekty button {
    background-color: darkorange;
    transition: all 0.3s;
    padding: 5px;
    height: 50px;
    width: 170px;
    margin: 5px;
    border-radius: 10px;
}
.projekty button:hover {
    background-color: orange;
}
a {
    text-decoration: none;
    color: white;
    font-size: 120%;
}
.nadpisb button {
    background-color: grey;
    color: white;
    height: 25px;
    width: 145px;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 11px;
}
.nadpisb button:hover {
    background-color: darkgrey;
}
.nadpis {
    height: 130px;
}