h1 {
    color: blue;
    text-align: center;
    font-size: 350%;
}
.list1 {
    font-size: 150%;
}
h3 {
    font-size: 200%;
}
table {
    border-collapse: collapse;
    font-size: 14px;
  }
th, td {
    padding: 12px 20px;
    border: 1px solid black;
    text-align: center;
  }
  
th {
    background-color: grey;
  } 
tr:hover {
    background-color: #eaeaea;
  }
  