body{
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
    color: white;
}
header {
    font-size: medium;
}
.obsah {
  padding: 50px;
  margin: auto;
  margin-top: 100px;
  background: #333;
  text-align: center;
  border-radius: 15px;
  width: 450px;
}

.obsah a {
    color: #eee;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.obsah a:hover {
    background-color: #777;
}
li {
    margin: 5px;
}
.vyber {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vybereventu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    padding-bottom: 20px;
}
img {
    height: 350px;
    width: 350px;
    border-radius: 15px;
}
.warningsmall {
    color: red;
    font-size: small;
}
.warningbig {
    color: red;
    font-size: medium;
}